html, body {
    height: 100%;
    width: 100%;
}

#optionsBar {
    background-color: white;
    height: 100%;
    width: 300px;
    float: left;
}
#optionsHeading {
    text-align: center;
}
#cellBeyondBoarderOptionsForm legend{
    font-size: 10pt;
}
#gameField {
    background-color: gray;
    height: 100%;
    overflow: hidden;
}
.rowCell {
    color: red;
    width: 100%;
    float: left;
    clear: both;
}
.columnCell {
    color: blue;
    background-color: lightblue;
    width: 10px;
    height: 10px;
    border: black;
    border-style: solid;
    border-width: 2px;
    float: left; 
}
